* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Terminus;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    transition-property: background-color;
    transition-duration: .5s;
}

/* Window title, from hyprland/window module */
#window {
    color: #ffb6b0;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: gray;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #ceffac;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#tray,
#idle_inhibitor,
#weather {
    padding: 0 10px;
}

#cpu,
#memory,
#network {
    padding: 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    color: #ee9a00;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu, #memory {
    color: gray;
}

#cpu.medium, #memory.medium {
    color: #ffffcc;
}

#cpu.high, #memory.high {
    color: #ffb6b0;
}

#network {
    color: gray;
}

#network.low {
    color: red;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-media {
}

#custom-media.custom-spotify {
    color: #ceffac;
}

#custom-media.custom-vlc, #custom-media.custom-firefox {
    color: #ee9000;
}

#custom-media.custom-mpv {
    color: #c3ace7;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    color: gray;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#pulseaudio {
    color: gray;
}

#custom-weather {
    padding: 0 5px;
    color: gray;
}

#custom-separator {
  color: gray;
  margin: 0 5px;
}

#custom-arch-updates {
    color: gray;
}

#custom-arch-updates.available {
    color: #ceffac;
}

#custom-arch-updates.error {
    color: #ffb6b0;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    color: gray;
}

#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification {
    color: white;
}
